{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news email">
<hr>
    <h1 style="
    text-align: center;
    margin-bottom: 2rem;
    ">Erreur </h1>
<hr>
   <p>Le lien n'est plus valide, merci de renouveler votre demande de changement de mot de passe.</p>
  <p>A bientôt !</p>

  <p>L'équipe <a style="font-weight: bold; font-family: 'Alex Brush', cursive;" href="http://www.owedding.fr/">O'wedding !</a></p>

  
</div>
{% endblock %}

