{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news email">
<hr>
    <h1 style="
    text-align: center;
    margin-bottom: 2rem;
    ">Changement de mot de passe effectué</h1>
<hr>
    <p>Vous pouvez désormais vous reconnecter au site. </p>
  <p>A bientôt !</p>

  <p>L'équipe <a style="font-weight: bold; font-family: 'Alex Brush', cursive;" href="http://www.owedding.fr/">O'wedding !</a></p>

  <em>Attention : ceci est un message automatique, merci de ne pas y répondre.</em>
</div>
{% endblock %}

