{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news">
<hr>
    <h3>Vous n'avez pas de compte "invité"</h3>
    <h3>Veuillez vous rapprocher des futurs mariés</h3>
<hr class="marginhr">
</div>

   
{% endblock %}

