{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news">
<hr>
    <h3>Oups !! une erreur est survenue</h3>
    <a href=""><button type="button" class="btn btn-info error">{{ button_label|default('Retour') }}</button></a>
<hr class="marginhr">

   
{% endblock %}

