{% extends 'base.html.twig' %}

{% block titlePage %}Modification du théme{% endblock %}

{% block body %}

<div class="form">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary form">Valider</button>
{{ form_end(form) }}

</div>

<a href="{{ path('backend_theme_list') }}">Retour</a>

{% endblock %}