{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news email">
<hr>
    <h1 style="
    text-align: center;
    margin-bottom: 2rem;
    ">Vous avez oublié votre mot de passe {{ name }} ? </h1>
<hr>
    <p>Pas de panique cliquez ici afin de le modifier {{ link }}</p>
    <p>L'équipe <a style="font-weight: bold; font-family: 'Alex Brush', cursive;" href="http://www.owedding.fr/">O'wedding !</a></p>
    
    <em>Attention : Ceci est un message automatique , merci de ne pas y répondre<em>
</div>
{% endblock %}

