{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news email">
<hr>
    <h3>Bonjour {{ name }}, l'administrateur de <span class="sitename">O'wedding</span> a bien reçu votre message.</h3>
    <h3>Nous vous répondons dans les plus brefs délais.</h3>

    <p>A bientôt !</p>
    <p>L'équipe <a style="font-weight: bold; font-family: 'Alex Brush', cursive;" href="http://www.owedding.fr/">O'wedding !</a></p>

  <em>Attention : ceci est un message automatique, merci de ne pas y répondre.</em>
</div>
{% endblock %}
