{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news email">
<hr>
     <h1 style="
    text-align: center;
    margin-bottom: 2rem;
    ">Bienvenue {{ name }} sur <span class="sitename">O'wedding !</span></h1>
<hr>
  <p>Votre compte a bien été crée, vous pouvez, d'ores et déjà, vous connecter sur notre site et créer votre projet.</p>
  <p>A bientôt !</p>

  <p>L'équipe <a style="font-weight: bold; font-family: 'Alex Brush', cursive;" href="http://www.owedding.fr/">O'wedding !</a></p>

  <em>Attention : ceci est un message automatique, merci de ne pas y répondre.</em>
</div>
{% endblock %}

