{% extends 'api/base.html.twig' %}
{% block body %}

<div class="form news email">
<hr>
    <h1 style="
    text-align: center;
    margin-bottom: 2rem;
    ">Vous venez de modifier votre mot de passe avec succes {{ name }} !</h1>
<hr>
  <p>Si vous n'êtes pas l'auteur de cette modification, merci de prendre contact avec l'adminitrasteur via le formulaire de contact de notre site.</p>
  <p>A bientôt !</p>

 <p>L'équipe <a style="font-weight: bold; font-family: 'Alex Brush', cursive;" href="http://www.owedding.fr/">O'wedding !</a></p>

  <em>Attention : ceci est un message automatique, merci de ne pas y répondre.</em>
</div>
{% endblock %}

